<!-- <div class="main-content"> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Project Information</h4>
                    </div>
                    <div class="row"  style="padding-left: 1rem; padding-top: 2rem;" >
                      <div class="col-md-12">
                      <mat-radio-group  [(ngModel)]="createUpdateProjectOption" (change)="onCreateUpdateRadioSelection()">
                        <mat-radio-button value="create">Create New Project</mat-radio-button>
                        &nbsp;
                        <mat-radio-button  value="update">Update Project</mat-radio-button>
                      </mat-radio-group>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row" *ngIf = "createUpdateProjectOption === 'update'">
                        <div class="col-md-8">
                          <mat-form-field>
                            <mat-label>Select Project</mat-label>
                            <mat-select [(ngModel)]= "selectedUserProject" required (selectionChange)="populateSelectedProject()">
                              <mat-option>None</mat-option>
                                <mat-option *ngFor="let project of userProjects" [value]="project">
                                  {{project.projectTitle}} - {{project.workOrderNumber}}
                                  </mat-option>
                            </mat-select>
                        </mat-form-field>
                        </div>
                    </div>
                        <form [formGroup]="projectForm" (ngSubmit)="onProjectSubmit()">
                            <div class="row">
                                <div class="col-md-8">
                                  <mat-form-field class="example-full-width" >
                                      <input matInput placeholder="Project Title" formControlName="projectTitle" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                   <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Project Scope Statement" formControlName="scopeStatement">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Project Company" formControlName="projectCompany" required>
                                    </mat-form-field>
                                </div>
                             <div class="col-md-2">
                                 <mat-form-field class="example-full-width">
                                     <input matInput placeholder="WorkOrder Number" formControlName="workOrderNumber" required>
                                 </mat-form-field>
                             </div>
                             <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Site Location" formControlName="siteLocation" required>
                                </mat-form-field>
                            </div>
                         </div>
                         <div class="row">
                            <div class="col-md-5">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="myStartDatePicker" formControlName="projectStartDate" placeholder="Project Start Date">
                                    <mat-datepicker-toggle matSuffix [for]="myStartDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #myStartDatePicker></mat-datepicker>
                                  </mat-form-field>
                            </div>
                         <div class="col-md-5">
                            <mat-form-field>
                                <input matInput [matDatepicker]="myEndDatePicker" formControlName="projectEndDate" placeholder="Project End Date">
                                <mat-datepicker-toggle matSuffix [for]="myEndDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #myEndDatePicker></mat-datepicker>
                              </mat-form-field>
                         </div>
                     </div>
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Address Line 1" formControlName="siteAddressLine1">
                                  </mat-form-field>
                                </div>

                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Address Line 2" formControlName="siteAddressLine2">
                                    </mat-form-field>
                                  </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="City" formControlName="siteCity">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="State" formControlName="siteState">
                                    </mat-form-field>
                                  </div>
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Country" formControlName="siteCountry">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Postal Code" formControlName="sitePostalCode">
                                  </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button (click)="onCancel()" class="btn btn-info pull-right">Cancel</button>
                            <button mat-raised-button type="submit" class="btn btn-info pull-right">Create</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <!-- </div> -->
  
