<!-- <div class="main-content"> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Stake Holder information</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="stakeHolderFormGroup" (ngSubmit)="onSave()">
              <div class="row">
                <div class="col-md-6">
                <mat-form-field>
                  <mat-label>Select Project/s</mat-label>
                  <mat-select formControlName="selectedProject"  multiple required>
                    <mat-option>None</mat-option>
                      <mat-option *ngFor="let project of userProjects" [value]="project">
                        {{project.projectTitle}} - {{project.workOrderNumber}}
                        </mat-option>
                  </mat-select>
              </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Client or Company Name" formControlName="stakeHolderName" required>
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Client Or Company Short Name" formControlName="stakeHolderShortName">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Work Order Number" formControlName="workOrderNumber">
                  </mat-form-field>
                </div>
              </div>

              <div style="border-style: groove;padding-left: 0.3rem; padding-bottom: 0.3rem;">
                <div>
                  <mat-label >Add Contractor/s </mat-label>
                </div>
                
                <!-- loop throught sub contractor -->
                <div formArrayName="subContractors"
                  *ngFor="let subContractor of stakeHolderFormGroup.controls.subContractors.controls; let i=index">

                  <!-- row divider show for every nex row exclude if first row -->
                  <mat-divider *ngIf="stakeHolderFormGroup.controls.subContractors.controls.length > 1 && i > 0">
                  </mat-divider><br>

                  <!-- group name in this case row index -->
                  <div class="row" [formGroupName]="i">

                    <div class="col-md-1">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="{{i + 1}}" readonly>
                      </mat-form-field>
                    </div>

                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Contractor Name" formControlName="subContractorName" required>
                      </mat-form-field>
                    </div>

                    <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Contractor Short Name" formControlName="SubContractorShortName">
                      </mat-form-field>
                    </div>

                    <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Work Order Number" formControlName="workOrderNumber">
                      </mat-form-field>
                    </div>

                    <!-- row delete button, hidden if there is just one row -->
                    <button type="button" mat-mini-fab color="warn" fxFlex="nogrow"
                      *ngIf="stakeHolderFormGroup.controls.subContractors.controls.length > 1"
                      (click)="removeSubContractor(i)">
                      <mat-icon>delete forever</mat-icon>
                    </button>


                  </div>
                </div>

                <!-- New Sub Conteactor button -->
                <!-- <mat-card-actions> -->
                  <button type="button" mat-raised-button (click)="addSubContractor()">
                    <mat-icon>add box</mat-icon>
                    Add new
                  </button>
                  &nbsp;
                  <button type="button" mat-raised-button (click)="clearAllSubContractor()">
                    <mat-icon>remove_circle</mat-icon>
                    Clear all
                  </button>
                <!-- </mat-card-actions> -->
              </div>
              <button mat-raised-button (click)="onCancel()" class="btn btn-info pull-right">Cancel</button>
              <button mat-raised-button type="submit" class="btn btn-info pull-right">Create</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->